<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html";charset=utf-8>
        <title>编辑链接</title>
    </head>
    <body>
        <form method="POST" action="?c=link&a=add">
            <table width="100%" border="0" align="center" cellpadding="1" cellspacing="0">
                <tr>
                    <h3>编辑链接</h1>
                </tr>
                <tr>
                    <td width="15%" height="30" align="right">网址</td>
                    <td width="85%">
                        <input name="url" type="text" id="url" size="20" maxlength="35"/>
                    </td>
                </tr>
                <tr>
                    <td width="15%" height="30" align="right">名称</td>
                    <td width="85%">
                        <input name="url" type="text" id="url" size="20" maxlength="35"/>
                    </td>
                </tr>
                <tr>
                    <td width="30%" align="right"><input type="submit" value="提交">
                    <input type="button" onclick="history.go(-1)" value="返回"></td>
                </tr>
            </table>
        </form>
    </body>
</html>